/*

canvas{
    display: block;
    position: absolute;
    border: 1px solid #000;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
*/

body{
    background-color: pink;
}


canvas{
    display: block;
    position: absolute;
    border: 1.5px solid blue;
    margin: 0 auto;
    margin-left: 40%;
    
    
    
    width: 300px;
    /*
    height: 700px;
    */
    /*
    background-image: url("images/bg.png");
    */
}

#game-canvas{
    border: 1.5px solid blue;

    opacity: 0;
    display: none;
}



img{
    display: none;
}
